html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
	--COLOR-ORANGE : #FAA253;
	--COLOR-YELLOW : #FAF653;
	--COLOR-GREEN-LIGHT : #ABFA53;
	--COLOR-GREEN-FLASH : #58FA53;
	--COLOR-GREEN-PASTEL : #53FAA2;
	--COLOR-CYAN : #53FAF6;
}
